/* _custom.scss */

body {
	background-color: $extra-light-grey;
}

h1, h2, h3, h4, h5 { font-weight: 600  }

.breadcrumbs a,
a {
	//color: #1a334f;
	//font-weight: bold;
	&:hover {
		// color: #2c343d;
	}
}


.header {
	background-color: $black;


	h4 {
		color: $white;
		margin-bottom: 0;

		img {
			width: 50px; height: 50px;
			padding: 5px 5px 5px 0;
		}
	}

	h4 a { color: $bandYellow; }

	.almost-hidden { opacity: .01 }
}


.hero {
	background-image: url('/assets/img/hero-bg-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem 0;
	.logo {
		border-radius: 1rem;
		margin-bottom: 1rem;
		height: 15rem;
	}

	.search-form {
		margin: 1rem auto;
	}

	.button {
		background-color: $bandYellow;

		&:hover {
			background-color: darken( $bandYellow, 5%) ;
		}
	}

}

// Add more padding around search box on
.hero.inside-page {
	padding: 2rem 0 2rem;
}


.featured {

	.card { 
		background-color: $white;

		&:hover {
			box-shadow: 3px 3px 3px 0px rgba(200, 200, 200, .5);
			transition: box-shadow 0.5s ease-out;
		}

		small { white-space: nowrap; }

	}

	p { font-size: 1rem }

	.card-divider { background-color: $white; }

	.card-image { //border-radius: 3px
	}
	
}

.other-cities-list {

	.featured-image-block-grid-header {
		h4 {
			text-transform: capitalize;
		}

	}

	.featured-image-block {

		.featured-image-block-title {

		}
	}
} 


/* **** Cities page **** */
.neighbourhoods-list {

	.menu { flex-wrap: wrap; 

		a { 
			// color: $blue-grey
		}
	}

	.extra-light {
    	border: $extra-light-grey;
    	border-bottom: $extra-light-grey
    }

	.menu.expanded > li {
	    
	    flex-shrink: 0;
	    flex-grow: 0;
	  
	    flex-basis: 14rem;

	    &:hover {
	    	background-color: $light-gray
	    }

	}

} 

/* *** Profile page *** */

.venue-hours {
	tr > td:first-child {
		font-weight: bold;
	}
}


.location-path {
	.card {
		margin-top: 1rem;
	}

	.breadcrumbs {
		margin: 1rem auto 0;
		padding: 0;
	}	
}

.venue-contact small {
	// color: $blue-grey
}

#profile-map {
	display: block;
	width: 100%;
	height: 20rem;
	outline: 1px solid lighten($brandGrey, 50%);
}

.profile-map {
	p {
		// line-height: 1.6;
	}
}


.blog-card {
	a {
		font-weight: bold;
	}
}



	.card-section.text-left {
		padding-top: 0;
	}

	.card-divider {

		background-color: $white;

	   //	background: lighten( $brandGrey, 75%) ; // extra-grey colour

	   	h4, h3, h2 {
			// color: lighten( $brandGrey,50% )
		}
	   i {
		   // color: lighten( $brandGrey,50% ); /* #4ec6cd; */
	   }
	}

	.menu,
	.no-bullet { 
		flex-wrap: wrap; 
		a {
			// color: $blue-grey;
			font-weight: 600;
		}
	}


/*
* Styles for store card images
*/
.store-card {
	h4 {
		line-height: 1.1;

		small {
			color: lighten( $brandGrey,50% );
		}
	}
	.card-image {
		// border-top: 1px solid lighten( $brandGrey,70% );
		// border-bottom: 1px solid lighten( $brandGrey,70% );

	}
	.card-section { font-weight: bold }
}

.search-result-block {
	background-color: $white;
}

/* *** Site-wide *** */
footer {
	.menu {
		flex-wrap: wrap;
	} /* fix for marketing-site-footer */

	.marketing-site-footer-block > i {
		width: 2rem;
	}
}

// For advertising blocks
.ablock {
	.callout {
		border: none;
		background-color: mix( white, $brandGrey, 90%);
		padding: 0;
		//margin: 1rem auto;
	}
}

/*
* Card styles
*/

.search-results {
	.card {
		flex-direction: row;
	}
}

.venue-title {
	p {
		line-height: 1;
		margin-top: 0;
	}
}


.venue-description,
.search-results {
	width: 100%; // new

	.label {
		background-color: lighten($bandYellow, 30%); // use for other buttons?
		// background-color: mix(white, $bandYellow, 60%); // tinting
		color: $brandGrey;

	}
}

.venue-description {
	.mall-stores {
		a { white-space: nowrap; }


	}
	

	.callout {
		border: none;
		border-top: 1px solid mix( white, $brandGrey, 85%);
		border-bottom: 1px solid mix( white, $brandGrey, 85%);
		background-color: mix( white, $brandGrey, 90%);
	}
}

.venue-hours {
	.selected {
		background-color: $brandGrey;
		color: $white;
		padding: .25rem;
	}
}

profile-picture {
	.more-contacts { display: none}
}

.nearby-venues {
	em { white-space: nowrap; }
}

.neat-article-container { margin-top: 0 !important;}

/*

*/
