
<div class="featured-image-block-grid row column">
	<div class="featured-image-block-grid-header">
	<hr>
	<h2>Cities</h2>
		<h4>View Cell Phone Repair in cities.</h4>
	</div>
	<div class="row large-up-4 small-up-2 ">
		<div class="featured-image-block column">
			<a href="/city-page.html">
				<img src="https://unsplash.it/600/440?image=899"/>
				<p class="text-center featured-image-block-title">Toronto</p>
			</a>
		</div>
		<div class="featured-image-block column">
			<a href="#">
				<img src="https://unsplash.it/600/440?image=693"/>
				<p class="text-center featured-image-block-title">Vancouver</p>
			</a>
		</div>
		<div class="featured-image-block column">
			<a href="#">
				<img src="https://unsplash.it/600/440?image=452"/>
				<p class="text-center featured-image-block-title">Montreal</p>
			</a>
		</div>
		<div class="featured-image-block column">
			<a href="#">
				<img src="https://unsplash.it/600/440?image=792"/>
				<p class="text-center featured-image-block-title">Calgary</p>
			</a>
		</div>
		<div class="featured-image-block column">
			<a href="#">
				<img src="https://unsplash.it/600/440?image=667"/>
				<p class="text-center featured-image-block-title">Miami</p>
			</a>
		</div>
		<div class="featured-image-block column">
			<a href="#">
				<img src="https://unsplash.it/600/440?image=249"/>
				<p class="text-center featured-image-block-title">Houston</p>
			</a>
		</div>
		
	</div>

	<div class="row column text-center">
	<b><a href="#">More</a></b>
	</div>
</div>
