<section class="featured">

	<div class="column row">
		<hr>
		<h2>Latest Blog News</h2>
	</div>

	<div class="row">

		<div class="columns large-4 medium-6 small-12 flex-container">

			<div class="card blog-card">

				<img class="card-image" src="/assets/img/placeholder-555-bw.jpg">
				<div class="card-section text-left">
					<h4><a href="#">How Social Media Has Benefited Small Food Businesses</a></h4>
					<p>
						Social media has changed the way people dine out. How many of you are guilty of taking a picture of that amazing looking dish before relishing it?
						<a href="#">Read More</a>
					</p>

				</div>
			</div>

		</div>

		<div class="columns large-4 medium-6 small-12 flex-container">

			<div class="card blog-card">

				<img class="card-image" src="/assets/img/placeholder-555.png">
				<div class="card-section text-left">
					<h4><a href="#">Why Drug Dealers Love the Nokia 8210</a></h4>
					<p>
						Just when you thought every last person who you knew and their uncle had a smartphone it has been revealed there is a set of people who still hesitate to use a smart phone and prefer an old sturdy Nokia 8210 instead. 
						<a href="#">Read More</a>
					</p>

				</div>
			</div>

		</div>

		<div class="columns large-4 medium-6 small-12 flex-container">

			<div class="card blog-card">

				<img class="card-image" src="http://lorempixel.com/555/420/">
				<div class="card-section text-left">
					<h4><a href="#">Tips on How to Make Your Android Phone Battery Last Longer</a></h4>
					<p>
						Most of us spend a lot of time on our phones. Finishing up important work, checking social media, using apps for everyday things and making calls are just some of the things we use our phones these days for. 
						<a href="#">Read More</a>
					</p>

				</div>
			</div>

		</div>


	</div>

</section>