<!-- partials/header-inside.html start -->
<section class="header">
	<div class="row">
		<div class="columns large-12 align-self-bottom align-self-middle">
			<h4><a href="/"><img src="/assets/img/findphonefixer-logo.png" title="FindPhoneFixer.com" alt="Find Phone Fixer logo">
				FindPhoneFixer</a></h4>
		</div>
	</div>
</section>

<section class="hero inside-page">
	<div class="columns row search-form">
		<div class="input-group">
			<input class="input-group-field" type="text" placeholder="Enter a place or city to search"/>
			<div class="input-group-button">
				<input type="submit" class="button" value="Search">
			</div>
		</div>
	</div>
</section>
<!-- partials/header-inside.html end -->

