<!-- header-1 -->
<section class="header">
	
	<div class="row">
	<div class="columns large-12 align-self-bottom align-self-middle">
			<h4><a href="/">FindPhoneFixer</a></h4>
	</div>
	</div>
</section>

<section class="hero">
	<div class="columns row text-center">
	
		<img src="/assets/img/findphonefixer-logo.png" class="logo slow almost-hidden" id="homepage-logo" alt="Find Phone Fixer logo" >
		
	</div>
	<div class="columns row search-form">
		

		<div class="input-group">
 
		<input class="input-group-field" type="text" placeholder="Enter a place or city to search">
		  <div class="input-group-button">
		    <input type="submit" class="button" value="Search">
		  </div>
		</div>

		
	</div>
</section>
