{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Phone Fixer</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <style type="text/css">
    /* TEMP */
    /*
  body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
  margin:5px;
}
#map{
  display: block;
  width: 95%;
  height: 350px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
#map.large{
  height:500px;
}
*/


</style>




    <script type="text/javascript">

    </script>


  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDoAxSn-EXf2vJSj3LRH9FIFNyz7JuGf8U"></script>

    <!-- script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script -->





    <script src="{{root}}assets/js/app.js"></script>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>

<script>
$(document).ready(function(){
      
  var client = algoliasearch("V7S01MILH0", "c95afb6b5bc53306095ea2d647b644d2");
  var index = client.initIndex('site_findphonefixer');


  //initialize autocomplete on search input (ID selector must match)
  $('#aa-search-input').autocomplete(
    {hint: false}, [
    {
      source: $.fn.autocomplete.sources.hits(index, { hitsPerPage: 5 }),
      //value to be displayed in input control after user's suggestion selection
      displayKey: 'name',
      //hash of templates used when rendering dataset
      templates: {
        //header: '<div class="aa-suggestions-category">Venues:</div>',
        //'suggestion' templating function used to render a single suggestion
        suggestion: function(suggestion) {
          return '<p><b>' + suggestion._highlightResult.name.value + '</b><br>' + suggestion._highlightResult.address.value + '</p>';
        },
        empty: '<div class="aa-empty"><b>No matching places</b></div>'


      }
    }
  ]).on('autocomplete:selected', function(event, suggestion, dataset) {
    window.location = 'http://localhost:8085/venue/' + suggestion.venue_slug;
  });
}
);
</script>


 

  </body>
</html>
